{{!-- <form> --}}
  <label for="title">Post Title</label>
  <Textarea @value={{this.title}} cols="50" id="title"></Textarea>
  <br>
  <label for="post">Post Text</label>
  <Textarea @value={{this.post}} cols="50" rows="10" id="post"></Textarea>
  <br>
  <button {{on "click" this.savePost}}>Add Post</button>
{{!-- </form> --}}
{{#if this.createdArticle}}
  <div>{{this.createdArticle.title}}</div>
  <div>{{this.createdArticle.text}}</div>
{{/if}}