<form id="login-form" class="form">
  <h2>Log In</h2>
  <div class="input-block">
    <label class="label" for="email">Email</label>
    <input 
      {{on 'input'this.inputUpdated}} 
      name="email" 
      value={{this.draft.email}}
      type="email">
  </div>

  <div class="input-block">
    <label class="label" for="password">Password</label>
    <input 
      {{on 'input' this.inputUpdated}} 
      name="password" 
      value={{this.draft.password}}
      type="password">
  </div>

  <button {{on "click" this.submitClicked}} type="submit" class="button">Done</button>
</form>